/* 8个背景样式 */
#fp-nav ul li a span {
    background-color: pink !important;
}
/* 第一屏幕制作 start */
.section1 {
    background: #fadd67 url(../images/timg.jpg) no-repeat center bottom;

}
.fly {
    position: fixed;
    right: 20%;
    top: 10%;
}
.shirt01 {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 335px;
}
.goods {
  position: absolute;
  left: 50%;
  margin-left: -420px;
  bottom: 150px;
}
.goods:nth-child(3) {
  position: absolute;
  left: 70%;
  margin-left: -420px;
  bottom: 355px;
}
.goods:nth-child(4) {
  position: absolute;
  left: 60%;
  margin-left: -420px;
  bottom: 450px;
}
.goods:nth-child(5) {
    position: absolute;
    left: 68.5%;
    margin-left: -420px;
    bottom: 250px;
}
.goods:nth-child(6) {
    position: absolute;
    left: 55%;
    margin-left: -420px;
    bottom: 350px;
}
/* 第一屏幕制作 end */
.section2 {
    background: #5ec3cd url(../images/timg1.jpg) no-repeat center bottom;
}
.section3 {
    background: #fadd67 url(../images/timg2.jpg) no-repeat center bottom;
}
.section4 {
    background: #fadd67 url(../images/timg3.jpg) no-repeat center bottom;
}
.section5 {
    background: #fadd67 url(../images/timg4.png) no-repeat center bottom;
}
.section6 {
    background: #fadd67 url(../images/timg5.png) no-repeat center bottom;
}
.section7 {
    background: #fadd67 url(../images/timg6.jpg) no-repeat center bottom;
}
.section8 {
    background: #e6e6e6 url(../images/timg7.jpg) no-repeat center bottom;
}
/* //直接进入购物中心 */
.go {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index : 999;
}


/* 动画组 */
.updown {
    animation: fly 3s linear infinite;
}
.shirt-updown {
    animation: shirt01 2.5s linear infinite;
}
@keyframes fly {
    0% {
        top: 10%;
    }
    50% {
        top: 20%;
    }
    100% {
        top:10%;
    }
}
@keyframes shirt01 {  
    50% {
        bottom: 360px;
    }
    100% {
        bottom: 335px;
    }
}